section{
    height: 100vh;
    display: flex; /*It places the section to the right side*/
    justify-content: space-evenly;
    align-items: center;   /*ALigns the item to center of the paGE*/
    animation: animate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
     background: linear-gradient(black, rgb(66,66,120), rgb(206,194,194),rgb(66,66,128));  /*this apply color to the background */
}
.myform{
    height: 350px;
    width: 356px;
    background-color: black;
    box-shadow: 18px 17px 8px grey;
    color: rgb(144, 130,130);
    font-size: x-large;
    font-weight: bolder;
}
fieldset{
    height: 320px;
    /* width: 295px;    this is optional */
}
.mailid-label, .pwd-label{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 1px -2px 6px blue;
}
#span{
    color: white;
}
legend{
    background-color: grey;
    color: rgb(75, 230, 145);
    text-shadow: 1px -2px 6px black;
}
.btn-1{
    height: 43px;
    width: 163px;
    margin-left: 73px;
    background: linear-gradient(rgb(66,66,128),rgb(206,194,194),rgb(66,66,128));
    color: blue;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}
.btn-1:hover{
    height: 50px;
    width: 180px;
    color: whitesmoke;
}
input{
    height: 22px;
    width: 250px;               /*It is the width of the email/password entering space*/
    border: 3px solid grey;
    background-color: rgb(71,71,143);
}
input:focus{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: blue;
}
#check{
    margin-left: 64px;
    margin-top: -2px;
    }
    @keyframes animate{   /*animate is used in section{} line no.6*/
        15%{
   background: linear-gradient(rgb(39, 28, 196),rgb(39, 29, 196),rgb(205,194,194),rgb(39,28,196));
        }  /*We can chenge the background color from here*/
        50%{
            background: linear-gradient(rgb(105, 51, 204), rgb(206,194,194),grey);
        }
        75%{
            background: linear-gradient(rgb(135, 135, 231),rgb(206,194,194),grey);
        }
        100%{
            background: linear-gradient(grey, rgb(206,194,194),rgb(135, 135, 231));
        }
    }
#message{
    background: linear-gradient(grey,white);  /*It is the background clr of the message*/
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    display: none;   /*This hide the message whose id is message*/
}
#message p{
    padding: 10px 35px;
    font-size: 25px;
}
.valid{
    color: green;
}
.valid:before{
    position: relative;
    left: -35px;
    content: "perfect";
}
.invalid{
    color: red;
}
.invalid:before{
    position: relative;
    left: -35px;
    content: "please check";
}